#header {
  height: 100%;
  background: var(--lumo-primary-color-10pct);
  display: flex;
  align-items: center !important;
  flex-basis: 100% !important;
}



#img {
  height: 90px;
  margin-left: 10px;
  padding: 8px;
  overflow: hidden;
}

#profile-img{
  height: auto;
  width: auto;
  margin-right: 10px;
  margin-left: auto;
  overflow: hidden;
  align-items: center;
}

#ricerca{
  width: auto;
  margin-left: 38%;
}

#ricerca-field{
  width: 20em;
}

#logo-navbar{
  height: 100px;
  width:  100px;
}
