
@media only screen and (max-width: 980px) {
    .layout-esterno {
        flex-direction: column;
        height: auto;
        align-items: center;

    }

    #info-boxing {
        align-items: center;
        justify-content: center;
        margin-left: 10rem;
        margin-right: 10rem;
    }
    #logo{
        max-height: 150px;
        max-width: 200px;
    }
    #form-regristrazione{
        margin: 5rem 5rem;
    }
}
#layout-sinistro{
    background: var(--lumo-shade-80pct);
}

