registrazione_due,
#layout-sinistra{

}

#layout-destra{

}

#layouts-vertical{
}

#principale{
    background: #7cb5ec;
    border: 3px solid #99007c;
}

#component{
    max-width:150px;
    max-height:150px;
}