registrazione,
#Div-principale{
    background-color: #7cb5ec;
    border-color: black;
    margin: 9.6em;
    border: 3px solid black;
    border-radius: 2em;
    width: 45%;
    align-items: center;
}

#Layout-registazione{
    background-color: red;
}

#titolo-registrazione{
    text-align: center;
}